# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Firebase
.firebase/
firebase-debug.*

# Build
dist/
build/


# React and Static Files
/node_modules
.pnp
.pnp.js
public/static/

# Firebase Authentication
firebaseConfig.js

# IDEs and OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Test coverage
coverage/

# Environment variables
.env
.env.*

# Misc
tmp/
*.swp
*.bak
*.tmp
*.temp

# Tests
test-results/
